*{
  margin:0;
  padding:0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.head{
  height:52px;
  width:1440px;
  background-color:#1D2129;
}
.head span{
  font-size:12px;
  letter-space:2px;
  color:#fff;
  line-height:52px;
}